<div class="container">
		<br>
		<br>
	<div class="row justify-content-center">
		
		<form>
			<div class="row">
				<div class="col-md-4">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="ccnroot" id="ccnroot" value="">
						<label class="form-check-label" for="ccnroot">
							CCN_ROOT
						</label>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="ccnadmin" id="ccnadmin" value="">
						<label class="form-check-label" for="ccnadmin">
							CCN_ADMIN
						</label>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="tioracle" id="tioracle" value="option1">
						<label class="form-check-label" for="tioracle">
							TI_ORACLE
						</label>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="form-group">
				<label for="archivoCli">Selecciona un Archivo Gui</label>				
				<input type="file" class="form-control-file" id="archivoCli">
			</div>
			 <div class="action-buttons">
            <button class="change-password" >ENVIAR</button>
        </div>
		</form>
	</div>
</div>